/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.home-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

header {
  z-index: 10;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-left: -20px;
  background-color: black;
  font-weight: 800;
  color: rgb(255, 255, 255);
  font-style: italic;
  padding: 10px 0px;
  // margin-bottom: 1rem;
  gap: 10px;
  span {
    width: 100px;
  }
}
.map_full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.button_edit,
.button_back {
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.774);
  border: white solid;
  color: white;
}

.hidden {
  display: none;
  visibility: hidden;
}
.controls_wrapper {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
}
input,
textarea {
  width: 300px;
  border: solid black 1px;
  color: inherit;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  margin-top: 0.25rem;
  //idth: 100%;
  margin-bottom: 1rem;
}
select {
  font-family: inherit;
  margin: 0;
  text-transform: none;
  color: inherit;
  appearance: none;
  background-color: #fff;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  display: block;
  width: 300px;
  border: solid #6b7280 1px;
}
.form-container {
  max-width: 300px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.back_button {
  color: #1f1f1f8f;
}
form {
  .field {
    margin-top: 18px;
  }
  label {
    //  margin-bottom: .5rem;
  }
  .select-flex {
    display: flex;
    margin-top: 7px;
    a {
      margin-left: 0.5rem;
      font-weight: bold;
      font-size: 2rem;
      width: 2rem;
      text-align: center;
      border: solid #6b7280 1px;
    }
  }
}

.relative {
  position: relative;
}

.map_full_container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.controls_container {
  overflow: hidden;
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  padding-left: 1rem;
  padding-right: 1rem;

  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.card {
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.019),
    0 8.7px 6.9px rgba(0, 0, 0, 0.027), 0 17.7px 14.2px rgba(0, 0, 0, 0.033),
    0 36.5px 29.2px rgba(0, 0, 0, 0.041), 0 100px 80px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background: white;
  padding: 1rem 0.5rem;
  height: 100%;
  display: block;
  .card-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 6px;
  }
  .card-distance {
    margin-top: 4px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 4px;
    }
    font-size: 14px;
    color: rgb(107, 107, 107);
  }
}

.button-cta-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  .bn9 {
    padding: 2px;
    outline: 0;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fdde5c),
      color-stop(#f8ab5e),
      color-stop(#f56a62),
      color-stop(#a176c8),
      color-stop(#759beb),
      color-stop(#65beb3),
      to(#70db96)
    );
    background: linear-gradient(
      to right,
      #fdde5c,
      #f8ab5e,
      #f56a62,
      #a176c8,
      #759beb,
      #65beb3,
      #70db96
    );
    border-radius: 30px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
  }

  .bn9 > span {
    display: block;
    padding: 10px 20px;
    font-size: 17px;
    background: #0e0e10;
    border-radius: 30px;
  }
}
